<div align="center" class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
            </button>
            <h2 class="modal-title">ELiminar Estudiante</h2>

                <form action="{% url 'eliminar_estudiante' object.id %}" method="post">
                    {% csrf_token %}
                    <p><strong>¿Desea eliminar al estudiante?</strong></p>
                    <h3>{{ object.nombres }} {{ object.apellidos }}</h3>
                    <hr>
                    <button class="btn btn-danger" type="submit">Confirmar</button>
                    <a class="btn btn-primary" href="{% url 'listar_estudiante' %}">Cancelar</a>
                </form>            

        </div>

        
    </div>
</div>
